/* Dashboard.css */
body {
  font-family: 'Roboto', sans-serif;
}

.dashboard-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.dashboard-card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-card-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #D0BF81;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.dashboard-subtitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.dashboard-text {
  margin-bottom: 10px;
  text-align: center;
}

.dashboard-image-box {
  display: flex;
  justify-content: center;
}

.dashboard-image {
  width: 50px;
  height: 50px;
}

.document-count {
  display: flex;
  align-items: center;
}

.document-count-number {
  font-size: 2em;
  margin-right: 10px;
}

.document-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 600px) {
  .dashboard-card {
    padding: 10px;
    margin: 5px;
  }

  .dashboard-card-title {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .dashboard-card-box {
    padding: 5px;
  }

  .dashboard-card-button {
    font-size: 0.8em;
    padding: 5px 10px;
    margin: 3px;
  }

  .dashboard-subtitle {
    font-size: 1em;
  }

  .dashboard-text {
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .dashboard-image {
    width: 40px;
    height: 40px;
  }

  .document-count-number {
    font-size: 1.5em;
  }

  .document-icon {
    width: 25px;
    height: 25px;
  }
}
