/* .wrapper{
  margin-bottom: auto 0px; 
  padding: 0; 
  background-image: url('/public/crystalbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
} */

button {
  cursor: pointer;
}
/* button:hover {
  background-color: lightgrey; 
} */
/*
.container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
*/
.header{
  display:flex;
  align-items: center;
  /* width: 1019px; */
  margin-left: 250px;
  justify-content: center;
}

.header .heading {
  justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: 35px;
    width: 770px;
    padding: 10px;
  font-family: "Roboto Condensed";
  font-size: 28px;
  color: #332D2D;
  text-align: center;
}
.decksnav{
  float: left;
  width: 200px;
  margin: 35px;
  
}

.decksnav .decks-list{
  background-color: #FFD234;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 750px;
  width: 325px;
  padding: 20px;
  text-align:center;
}
.decksnav .decks-heading{
    color: #332d2d;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
}

.decksnav .deck-title{
  color: #332d2d;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 20px;
  font-weight: 700;
  padding:10px;
  border: none;
  background-color: transparent;
  display: block;
    width: 100%;
}

.decksnav .deck-title-clicked{
  color: #B18A00;
  box-shadow: 0px 4px 4px #00000040;
  border: none;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}

.selected-flashcard-deck{
  align-items: center;
  margin-left: 500px;
  margin-top: 10px;
    background-color: #ffffff;
  border-radius: 15px;
  width:1270px;
  height:625px;
  padding: 10px;
  overflow: auto; /* Enable scrolling */
      border: 1px solid #ccc;
}
.flashcard-deck-title {
  font-weight: bold;
  text-align: center;
  color: #332d2d;
  font-family: "Roboto Condensed", Helvetica;
  font-size: 28px;
  font-weight: 700;


}
.actionButtons {
  display: flex;
}
.btnGray{
  
  border: none;
  height: 30px;
  font-weight: 600;
  border-radius: 10px;
background: rgba(217, 217, 217, 0.58);
margin-right:10px;
padding:7px;
}

.difficulty-tag{
  border: none;
  height: 30px;
  font-weight: 500;
  font-style: italic;
  border-radius: 10px;
background: rgba(255, 255, 255, 0.58);
color: #333;
margin-right:10px;
padding:7px;
}



.flashcard{
    font-size: 12px;
    background-color: #FFD234;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #00000040;
    height: auto;
    width: 1200px;
    padding: 10px;
    margin: 20px;
    text-align:center;
    overflow: hidden;
}

.btnYellow{
  width: 365px;
height: 38px;
border: none;
margin-top: 20px;
margin-bottom: 20px;
flex-shrink: 0;
  border-radius: 15px;
  background: #FAC712;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btnWhite{
  width: 204px;
height: 38px;
border: none;
margin: 20px;
flex-shrink: 0;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}




.buttons{
  margin-left: 650px;
  
  align-items: center;
  width: 1019px;
  height:140px;
}