.lsbody {
  background-image: url('/public/crystalbackground.png');
  background-size: cover;
}

.logocontainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 40%; /* Adjusted to a percentage */
  max-width: 480px; /* Limit maximum width */
  height: 20vh; /* Adjusted to a percentage */
  background-color: #FFD234;
  z-index: 5;
}

.firstcontainer {
  margin-top: 5vh; /* Adjusted to a percentage */
  padding: 2vw; /* Adjusted to a percentage */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 50vh; /* Adjusted to a percentage */
  max-width: 90vw; /* Adjusted to a percentage */
  box-shadow: 0 2px 8px rgba(0.2, 0.2, 0.2, 0.2);
  background-color: white;
  border-radius: 1vw; /* Adjusted to a percentage */
}



button[type="submit"] {
  background-color: #FFD234;
  border: none;
  color: rgb(0, 0, 0);
  padding: 1vh 2vw; /* Adjusted to a percentage */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6vw; /* Adjusted to a percentage */
  margin: 2vh 1vw; /* Adjusted to a percentage */
  cursor: pointer;
  border-radius: 4px;
  width: 30%; /* Adjusted to a percentage */
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 1100px) {
  .logocontainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .logocontainer {
    display: none;
  }

  .firstcontainer {
    display: none !important; /* Hide only the first container */
  }

  .secondcontainer {
    max-width: 100% !important;/* Allow it to span most of the screen width */
    margin-top: 20%; /* Center it horizontally */
    box-shadow: none;
    border: none;
  }

  /* Adjust button styles for smaller screens */
  button[type="submit"] {
    width: 100%; /* Make button full width */
    margin: 10px 0; /* Adjust margin for spacing */
  }
}
