.welcome-back-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.title {
  background-color: #FFD234;
  width: fit-content;
  min-width: 150px; /* Minimum width for title */
  padding: 5px 10px; /* Increased padding for better visibility */
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 18px;
}

.question-card {
  width: 900px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  position: relative;
  font-family: 'Lato';
}

.question-label {
  position: absolute;
  top: 20px; /* Adjusted top spacing */
  left: 20px; /* Adjusted left spacing */
  font-weight: bold;
  color: #333;
  font-family: 'Lato';
}

.text-field-bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 32px); /* Adjusted width */
  border-radius: 8px;
  z-index: 1;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: 'Lato';
}

.counter {
  position: absolute;
  top: 20px;
  right: 20px; /* Adjusted right spacing */
  font-size: 18px;
  color: #333;
}

.question-text {
  font-size: 28px;
  color: #332d2d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%; /* Adjust width as needed */
  font-family: 'Lato';
}

@media (max-width: 480px) {
  .title {
      width: fit-content;
      padding: 5px 10px; /* Adjust padding as needed */
      font-size: 14px; /* Adjust font size for smaller screens */
      margin-top: 10px;
      font-family: 'Lato';
  }

  .question-card {
    width: 90%; /* Adjust width to fit the screen */
    height: auto; /* Adjust height to fit the content */
    padding: 20px; /* Add padding for better spacing */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    position: relative;
    font-family: 'Lato';
  }

  .question-label {
      top: 10px;
      left: 10px;
      font-family: 'Lato';
      /* font-size: 14px; Adjust font size for smaller screens */
  }

  .question-text {
      font-size: 20px; /* Adjust font size for smaller screens */
      width: 90%; /* Adjust width to fit the screen */
      font-family: 'Lato';
  }

  .counter {
      font-size: 14px; /* Adjust font size for smaller screens */
  }

  .text-field-bottom {
      bottom: 20px;
      width: calc(100% - 32px); /* Adjusted width */
      margin-left: 15px;
      border-radius: 8px;
      z-index: 1;
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      font-family: 'Lato';
  }
}
