/* General styles */
.lsbody {
  width: 100%;
  /* margin: 0 auto; */
  font-family: 'Lato';
}

/* Indicator styles */
.indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 10px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 3px 5px;
  border-radius: 20px;
  border: 1px solid #a1a1a1;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}

/* Center panel styles */
.center-panel {
  background: white;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 50%;
  margin: 30px auto;
  margin-top: 8%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Lato';
}


/* Inner panel styles */
.inner-panel {
  background: #ffd234;
  border-radius: 10px;
  width: 95%;
  height: 200px;
  margin: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  position: relative;
}

.inner-panel.flipped .flashcard {
  transform: rotateY(180deg);
}

/* Progress bar styles */
.progress-bar {
  width: 50%;
  margin: 0 auto;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #acacac;
  position: relative;
}

.progress {
  height: 100%;
  width: 20%;
  background-color: #ffd234;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
  max-width: 100%;
}

.showanswer{
  background-color: rgb(255, 255, 255);
  color: rgb(82, 75, 0);
  width: 10%;
}
/* Show answer button styles */
.show-answer-button {
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Memorized button styles */
.Memorized {
  /* margin-top: auto; */
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lato';
}

.Memorized button {
  background-color: white;
  width: 15%;
  color: rgb(82, 75, 0);
  font-weight: bold;
  border-radius: 20px;
  margin: 13px;
  padding: 6px 10px;
  font-size: 12px;
}

.action-button {
  margin: 0 5px;
}

.action-check-button{
  margin: 0 12px;
}

.finish-session-button {
  background-color: #ffd234; 
  border-radius: 150px !important; 
  font-family: 'Lato';
  font-weight: 600; 
  width: 150px; 
  height: 35px;
  top: 5px;
  left: 605px;
}



/* Flashcard styles */
.flashcard-container {
  width: 95%;
  max-width: 370px;
  margin: 15px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px; /* Added padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in total width/height */
  font-family: 'Lato';
}

.flashcard-container .flashcard {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  font-family: 'Lato';
}

.front,
.back {
  width: 150%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* overflow: hidden; */
  position: absolute;
  /* top: 0;
  left: 0; */
  /* padding: 20px; Added padding for content */
  box-sizing: border-box; 
}

.answerlabel {
  font-size: 18px; 
  font-weight: bold;
  margin-bottom: 35%;
  text-align: center;
  backface-visibility: hidden;
}
.questionlabel {
  backface-visibility: hidden;
  font-size: 18px; 
  font-weight: bold;
  margin-bottom: 35%;
  text-align: center;
}

.front h5,
.back h5 {
  margin-top: 20;
  padding: 0;
  font-size: 1.2em; /* Adjust font size for better readability */
}

.front, .questionlabel {
  transform: rotateY(0deg);
  z-index: 2;
}

.back, .answerlabel{
  transform: rotateY(180deg);
  z-index: 1;
}

@media (max-width: 768px) {


  .center-panel {
    height: 50%;
    width: 80%;
    margin-top: 35%;
    padding: 5px;
  }

  .inner-panel {
    height: 70%;
    width: 95%;
  }

  .progress-bar {
    width: 90%;
    height: 1%;
  }

  .show-answer-button {
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

  .Memorized {
    text-align: center;
    font-family: 'Lato';
    margin: 10px;
  }
  
  .Memorized button {
    background-color: white;
    width: 50%;
    color: rgb(82, 75, 0);
    font-weight: bold;
    border-radius: 20px;
    font-size: 12px;
  }

  .answerlabel {
    margin-bottom: 250px;
  }
  .questionlabel {
    margin-bottom: 250px;
  }
  
  .flashcard-container {
    height: 100%;
    font-family: 'Lato';
    font-size: 18px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    overflow: hidden; 
    word-wrap: break-word; 
    padding: 10px; 
    box-sizing: border-box; 
}
  
  .indicator {
    top: 3px;
    right: 3px;
    padding: 1px 3px;
    font-size: 0.7em;
  }


  .front h5, 
  .back h5 {
    width: 300px;
    margin-top: 40px;
    font-size: 1em; 
    text-align: center; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    line-height: 1.2; 
  }

  .finish-session-button {
    background-color: #ffd234; 
    border-radius: 150px !important; 
    font-family: 'Lato';
    font-weight: 600; 
    width: 150px; 
    height: 35px;
    top: 5px;
    left: 145px;
  }

}
