.lsbody {
  background-image: url('/public/crystalbackground.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position:absolute;
}  

.logocontainer {
  position: absolute;
  top: 50%; /* Adjust this to control the vertical overlap */
  left: 32%; /* Centers the square horizontally, adjust as needed */
  transform: translate(-50%, -50%); /* Adjusts the positioning to center the square */
  height: 100%; /* Size of the square */
  max-width: 580px; /* Adjusted width to ensure space on the right */
  background-color: #FFD234; /* Example color */
  z-index: 5; /* Adjust z-index as needed to ensure it overlaps properly */
  }

.firstcontainer {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 79vh;
  max-width: 1350px; /* Adjusted width to ensure space on the right */
  box-shadow: 0 2px 8px rgba(0.2, 0.2, 0.2, 0.2);
  background-color: white;
  border-radius: 8px;
}


.secondcontainer {
  margin: 70px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 340px;
  border: 1px solid gold;
}

.firstcontainer, .secondcontainer {
  /* Your existing styles */
  position: relative; /* Add this if not already present to ensure stacking context */
  z-index: 1; /* Ensures these containers are below the overlapping square */
}

button[type="submit"] {
  background-color: #FFD234; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  position: bottom;
}

button[type="submit"]:hover {
  background-color: #B18A00; 
  /* border: 1px solid gold; */
}

.buttoncontainer {
  display: flex; /* Use flexbox for centering */
  justify-content: center; 
}

.custom-tooltip {
  width: 30em;
  z-index: 9999; /* Very high value to ensure it is on top */
  position: absolute; /* Ensures the tooltip can be placed correctly */
  background: white; /* Background color for better visibility */
  border: 1px solid #B18A00; /* Border color matching your theme */
  padding: 10px; /* Padding for better readability */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
  border-radius: 8px; /* Rounded corners */
  transform: translateX(-50%); /* Center the tooltip */
  left: 50%; /* Position it in the center horizontally */
}

.custom-tooltip ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-tooltip li {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
}

.custom-tooltip li.valid {
  color: green;
}

.custom-tooltip .tooltip-icon {
  margin-left: 5px;
}
